/* tag */
.tag a {
    position: relative;
}
.tag .count {
    font-family: "HelveticaNeueUltraLight", sans-serif;
}
.tag .count:before {
    content: '('
}
.tag .count:after {
    content: ')'
}

/* tag-box */
.tag-box {
    font-family: "HelveticaNeueThin", sans-serif;
    margin: 0;
    padding: 0;
}
.tag-box .tag {
    list-style: none;
    margin-bottom: 0.25rem;
}
.tag-box .tag a {
    font-family: "HelveticaNeueLight", sans-serif;
    color: #20303c;
}
.tag-box .tag a:hover {
    color: #733ca6;
}